
@{
    ViewData["Title"] = "Index";
}

<h2 class="text-dark">Hello You can manage your courses and classes in this app.</h2>

<div class="container">

    <h3 class="text-success">Active Modules:</h3>

    <ul>
        <li>
            List And Manage Student Lists
        </li>

         <li>
             List And Manage Teacher Lists
        </li>
    </ul>

    <h3 class="text-danger">Coming Soon:</h3>

    <ul>
        <li>
            Managing Courses & Classes
        </li>
    </ul>

</div>


