@model IEnumerable<SchoolManagement.Models.Entities.Teacher>
@{
    ViewData["Title"] = "TeachersList";
}

<h1>Teachers List</h1>

<div class="w-50 p-4 my-3">
    <h3>Add Teacher</h3>
    <form asp-action="AddTeacher" asp-controller="Teacher" method="post">
        <label>Teacher Name</label>
        <input type="text" class="form-control" name="TeacherName" required />

        <label>Teacher Profession</label>
        <input type="text" class="form-control" name="TeacherProfession" required />

        <input type="submit" class="btn btn-outline-primary mt-2" value="ADD" />
    </form>
</div>


@*
@using (Html.BeginForm("AddTeacher","Teacher",FormMethod.Post))
{
    <input type="text" class="form-control" name="TeacherName" required/>
    <input type="text" class="form-control" name="TeacherProfession" required/>

    <input type="submit" class="btn btn-outline-primary"/>
}
*@

<hr class="content-divider" />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Teacher Name
            </th>
            <th>
                Teacher Profession
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.TeacherName
                </td>

                <td>
                    @item.TeacherProfession
                </td>

                <td>
                    <form asp-action="DeleteTeacher" asp-controller="Teacher" method="post">
                        <input type="hidden" name="id" value="@item.TeacherId"/>
                        <input type="submit" value="DELETE" class="btn btn-outline-danger"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


